#audioControl {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f1f1f1;
  z-index: 9999;
  padding: 10px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

audio {
  width: 100%;
}
